# use the Python 3.6 language
language: python
python:
  - "3.6"

# ignore the virtualenv travis creates
env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
    - secure: pRZI33WYLjCr3oPxr9g2MJIdpkgOkCn9EUR7JbELws7Zgo2GhOYZcM/Gd/FVxorPUeL0gd5yWPNUkPDgMv7GksikYL3pg+N9+/pPzHKlZh4Y07y7VPPQ6DoJBDpQOQzqLFC+88HLeUJDNF/JqHb4osaTK36jgBtImzOeeiyg5joQSqy3loSpa0YGbVXPy3cTbvWtPfXc8dh+N/Yr6nUrdVuXkOk7obdKdOt4L0RVA0nT3rm3K+5UrESzkdMqI4LGcr18E9i2V1hq0jJywXqkdt6ieU6A4QAxhzDnGmKM+sNBumzGCdi2es0ddMlHjxVjVzRA+ZrXNF5CpFOaMD8SQcG1AE+jc1uPhPfUS/x4rQmRJ5to5IR4syCzQI6B0ZrFfMaOKNZRP/byQN7QebX01PTWwluR5K25zUiQiiHnTi0otxHD2w8NYfbd23YNpS2wwDBnE8Fj8vRJy87rs7QxmwHP/8PoNU0sbdOF+MEqnKozANIcgxqS3RoWDwFseuMHLL4ZFwmO+UAjyc14LSk1uJGbO6M2hHwG21hKydkRYTiqADl+0xvluas67SLA8AAzmeXrTfx4Ln+2yyvlC7gmq2MYQQXR8wcs+OOnWPxmRm37geXmU6wPMGeAQG0GOBlXKnJPyWJfOxJt6NETuoKuTeTHYAemMmA02CmqNBRvdNw=

# install mdl for checking Markdown
before_install:
  - gem install mdl

# command to install dependencies
install:
  - pip install --upgrade pip
  - pip install pipenv --upgrade
  - pipenv install --dev --three

# use a cache to improve performance
cache: pip

# perform testing:
# --> run the test suite with pytest
# --> lint the functions with flake8
# --> lint the test suites with flake8
# --> lint the README documentation with mdl
script:
  - pipenv run pytest -s -v
  - pipenv run flake8 speedsurprises
  - pipenv run flake8 tests
  - mdl README.md
