[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
neovim = "*"
black = "*"
pytest = "*"
pytest-benchmark = "*"
hypothesis = "*"
flake8 = "*"
pytest-cov = "*"
codecov = "*"
v = {editable = true,version = "*"}

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true

[packages]
deap = "*"
importlib-metadata = "*"
