[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"flake8" = "*"
pylint = "*"

[dev-packages]
pylint = "*"
neovim = "*"
black = "*"
pytest = "*"
pytest-benchmark = "*"
hypothesis = "*"
perf = "*"
"flake8" = "*"
pytest-cov = "*"
codecov = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
